h1{
    color: #345869;
    font-family: verdana;
    font-size: 150%;
}

h2{
    color:#FF0000;
}

div{
    margin-left: 100px;
    margin-top: 100px;
}

a{
    color: cornflowerblue;
    font-size: 100%;
}