<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{../static/css/style.css}"/>
</head>
<body>
<h1>Adicionar novo usuario</h1>
    <form action="gravarUsuario" method="post">
        <table>
            <tr>
                <td><label for="nome">Nome</label></td>
                <td><input id="nome" type="text" name="nome" pattern="[a-zA-Z0-9 ]+"
                           required oninvalid="this.setCustomValidity('Informar o nome do usuario (Apenas letras e números)')"
                           oninput="this.setCustomValidity('')"></input></td>
            </tr>
            <tr>
                <td><label for="email">Email</label></td>
                <td><input id="email" type="email" name="email"
                           required oninvalid="this.setCustomValidity('Informar o email')"
                           oninput="this.setCustomValidity('')"></input></td>
            </tr>
            <tr>
                <td><label for="password">password</label></td>
                <td><input id="password" type="password" name="password"
                           required oninvalid="this.setCustomValidity('Informar o password.')"
                           oninput="this.setCustomValidity('')" ></input></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Gravar"></input> <input type="reset" value="Limpar" /></td>
            </tr>
        </table>
    </form>
</body>
</html>