<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{../static/css/style.css}"/>
</head>
<body>
<h1>Adicionar novo produto</h1>
<form action="gravarProduto" method="post">
    <table>
        <tr>
            <td><label for="codigoProduto">Código do produto</label></td>
            <td><input id="codigoProduto" type="text" name="codigoProduto" pattern="[a-zA-Z0-9]+"
                       required oninvalid="this.setCustomValidity('Informar o código do produto (Apenas letras e números)')"
                       oninput="this.setCustomValidity('')"></input></td>
        </tr>
        <tr>
            <td><label for="nomeProduto">Nome do produto</label></td>
            <td><input id="nomeProduto" type="text" name="nomeProduto" pattern="[a-zA-Z0-9]+"
                       required oninvalid="this.setCustomValidity('Informar o nome descritivo do produto (Apenas letras e números)')"
                       oninput="this.setCustomValidity('')"></input></td>
        </tr>
        <tr>
            <td><label for="quantidadeProduto">Quantidade do produto</label></td>
            <td><input id="quantidadeProduto" type="number" name="quantidadeProduto" pattern="[0-9]"
                       required oninvalid="this.setCustomValidity('Informar a quantidade de produtos disponiveis')"
                       oninput="this.setCustomValidity('')" ></input></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Gravar"></input> <input type="reset" value="Limpar" /></td>
        </tr>
    </table>
</form>
</body>
</html>