<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Confirmação Usuário</title>
</head>
<body>
    <div>
        <div>
            <h1>Usuario Adicionado</h1>
        </div>
        <div>
            <p th:text="'Nome: ' + ${usuario.nome}" />
            <p th:text="'Email: ' + ${usuario.email}" />
        </div>
        <br><br>
        <div>
            <a th:href="@{/index}">Login</a>
        </div>
    </div>
</body>
</html>