<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Confirmação Produto</title>
</head>
<body>
    <div>
        <div>
            <h1>Produto Adicionar</h1>
        </div>
        <div>
            <p th:text="'Código do produto: ' + ${produto.codigoProduto}" />
            <p th:text="'Nome do produto: ' + ${produto.nomeProduto}" />
            <p th:text="'Quantidade do produto: ' + ${produto.quantidadeProduto}" />
        </div>
        <br><br>
        <div>
            <a th:href="@{/listaProduto}">Lista de produtos</a>
        </div>
    </div>
</body>
</html>