<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Lista de Produtos</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
</head>
<body>
    <div>
        <h1>Produto(s) de pescaria já cadastrado(s)</h1>
        <a href="/adicionarProduto">Adicionar um novo produto</a>
        <br/><br/>
        <div>
            <table border="1">
                <tr>
                    <th>Código</th>
                    <th>Nome do produto</th>
                    <th>Quantidade</th>
                </tr>
                <tr th:each ="produto : ${produtos}">
                    <td th:utext="${produto.codigoProduto}">...</td>
                    <td th:utext="${produto.nomeProduto}">...</td>
                    <td th:utext="${produto.quantidadeProduto}">...</td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>