<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Lista de Produtos</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
</head>
<body>
    <div>
        <h1>Usuários</h1>
        <a href="/adicionarUsuario">Adicionar um novo usuario</a>
        <br/><br/>
        <div>
            <table border="1">
                <tr>
                    <th>Código</th>
                    <th>Nome</th>
                    <th>Email</th>
                </tr>
                <tr th:each ="usuario : ${usuarios}">
                    <td th:utext="${usuario.codigo}">...</td>
                    <td th:utext="${usuario.nome}">...</td>
                    <td th:utext="${usuario.email}">...</td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>